*.csv filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
data/*/*.csv filter=lfs diff=lfs merge=lfs -text
slides/*pptx filter=lfs diff=lfs merge=lfs -text
